<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://auxfilmsdesmots.files.wordpress.com/2013/10/photo-mdr-big.jpg">

    <title>{{ page_title|default('9blag : Allons amuser le monde') }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='sticky-footer-navbar.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">9blag</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Frais, c'est fraiment vrai<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('indexapi') }}">Tendance le disco (c'est qui Ten ?)</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" method="get" action="/search/">
            <input class="form-control mr-sm-2" placeholder="Recherche" aria-label="Chercher" type="text" name="pattern">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
          </form>
        </div>
      </nav>
    </header>
	
    <!-- Begin page content -->
    <main role="main" class="container">
		<article>
			<p class="Publish"> Ajoute toi aussi des photos à 9blag !</p>
			<form class="form-inline mt-2 mt-md-0" method="get" action="/publish/">
				<input class="form-control mr-sm-2" placeholder="Titre" aria-label="Titre" type="text" name="titre">
				<input class="form-control mr-sm-2" placeholder="URL" aria-label="URL" type="text" name="url">
				<input class="form-control mr-sm-2" placeholder="Tags (à séparer par des virgules" aria-label="Tags" type="text" name="tags">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Publier</button>
			</form>
		</article>
    {% block content %}{% endblock content %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright</span>
      </div>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='jquery-3.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='popper.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
  </body>
</html>

<!-- vim: set filetype=html spell spelllang=en: -->
